extends layout
prepend pageTitle
  - var title = "Home"
block bodyClass
  - var slug = "home"
block content
  section.container
    h1.lead Sacramento deserves to know what is in the budget and how it is made.
    p.lead Open Budget: Sacramento takes current and past budget data published by the City of Sacramento and transforms them into accessible visualizations. Our aim is to enable community members to examine their city's budget for themselves.
    .row.main
      .col.col-md-3
      .col-md-auto
        p.intro.lead We have a suite of data viewing tools to help you understand Sacramento's budget.
        a(href="/budget-flow")
          section
            h2.lead Overview
            p.lead Get a bird's eye view of the big picture for a single year: where money comes from, and where it goes.
            img.img-responsive.thumbnail.lead(src="/images/home/flow-thumb.png" alt="Our flow chart shows where the money comes from and where it goes. Are the things you care about underfunded? Find out!")
        a(href="/compare")
          section
            h2.lead Comparison
            p.lead Put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change?
            img.img-responsive.thumbnail.lead(src="/images/home/compare-thumb.jpg" alt="The comparison tool lets you compare two Sacramento city budgets.")
        a(href="/budget-tree")
          section
            h2.lead Detail
            p.lead Drill down into detailed spending and revenue data for each department and fund for a single year.
            img.img-responsive.thumbnail.lead(src="/images/home/tree-thumb.png" alt="Our drill-down tool lets you examine Oakland city spending and revenue in detail.")
        a(href="https://explorer.openbudgetsac.org/")
          section
            h2.lead Custom Queries
            p.lead Explore the details of the City of Sacramento's adopted 2018 budget.
            img.img-responsive.thumbnail.lead(src="/images/home/explorer.png"
            alt="the tool used to explore the 2018 budget data")