.container
  style.
    #treemap{
    display: block;
    max-width: 100%;
    margin: auto;
    padding-top: 10px;
    }
    #breadcrumbs {
    margin: 0px;
    padding: 0px;
    cursor:pointer;
    }
    #table {
    display: block;
    max-width: 100%;
    margin: auto;
    }
    #tooltip p {
    margin: 0px;
    padding: 0px;
    }
    .amount {
    padding: 0px;
    margin: 0px;
    font-size: medium;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    .name {
    padding: 0px;
    margin: 0px;
    font-size: small ;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    #spacer {
    height: 30px;
    }
  .row
    .intro.col-md-8
      block title

      p(data-i18n='tree.intro1') Select year and account (revenues or expenses). Click on a fund to see the departments that receive its funding. Click on that department to see its spending or revenue.

      p(data-i18n-html='tree.intro2Html') The <strong>General Fund</strong> — roughly 40% of Sacramento's total budget -- is decided by a <a href="https://www.capradio.org/articles/2023/04/24/how-does-the-sacramento-city-budget-work-heres-what-you-need-to-know/">budget process</a> that includes private and public meetings, surveys, and negotiations. The other 60% of the budget comes from taxes, ballot measures, grants, fees, and other sources.

  .row
    .col-sm-12
      p#breadcrumbs 
  .row
    .col-sm-6
      h3#title title
    .col-sm-6#dropdown
  #treemap
  #spacer
  #table(style="margin-bottom: 30px;")

  block datasource


  section#comments
    .row
      .col-md-8
        h4(data-i18n='common.comments') Comments
        #disqus_thread(data-disqus-identifier=typeof disqusIdentifier !== 'undefined' ? disqusIdentifier : 'oboDefault')

block disqus_config
  - var disqusIdentifier = 'oboDefault'

script(src='/js/disqus-loader.js', charset='utf-8', defer)
noscript
  span(data-i18n='common.pleaseEnableJs') Please enable JavaScript to view the
  |  
  a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.

script(src='/js/palette.js', charset='utf-8')
script(src='/js/source.js', charset='utf-8')
script(src='/js/data.js', charset='utf-8')
script(src='/js/treemap.js', charset='utf-8')
script(src='/js/spreadsheet.js', charset='utf-8')
script(src='/js/tooltip.js', charset='utf-8')
script(src='/js/budget-treemap.js', charset='utf-8')

block datafiles

if typeof treeConfig !== 'undefined'
  script#tree-config(type='application/json')!= JSON.stringify(treeConfig)
script(src='/js/tree-page.js', charset='utf-8', defer)
