script(src='/js/vendor/d3.v3.4.5.min.js', charset='utf-8')
script(src='/js/sankey.js', charset='utf-8')
script(src='/js/flow.js', charset='utf-8')
script(src='/js/budget-glossary.js', charset='utf-8')
script(src='/js/flow-page.js', charset='utf-8', defer)
