script(src='/js/vendor/d3.v3.4.5.min.js', charset='utf-8')
script(src='/js/palette.js', charset='utf-8')
script(src='/js/source.js', charset='utf-8')
script(src='/js/data.js', charset='utf-8')
script(src='/js/treemap.js', charset='utf-8')
script(src='/js/spreadsheet.js', charset='utf-8')
script(src='/js/tooltip.js', charset='utf-8')
script(src='/js/budget-treemap.js', charset='utf-8')
-
  var activeTreeConfig = {
    dropdownValues: {
      Year: ['FY26', 'FY25', 'FY24', 'FY23', 'FY22', 'FY21', 'FY20', 'FY19', 'FY18', 'FY17', 'FY16', 'FY15', 'FY14', 'FY13'],
      Account: ['Revenue', 'Expense'],
    },
    dropdownChoice: {
      Year: 'FY26',
      Account: 'Expense',
    },
    urlTemplate: '/data/tree/Approved.{Account}.{Year}.json',
  }
script#tree-config(type='application/json')!= JSON.stringify(activeTreeConfig)
script(src='/js/tree-page.js', charset='utf-8', defer)
