.detail-level {
  padding-left: 1em;
}

// Force full-width button rows for list-group button items.
button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group {
  .list-group {
    margin-bottom: 0;
    padding-left: 10px;
    .list-group-item {
      padding-right: 0;
      margin: 0;
      background-color: transparent;
      border-top: none;
    }
  }

  &.active {
    &.active {
      background-color: $list-group-bg;
      color: $text-color;
    }
  }
}

/* override the default react-select styles */
.choose-budget {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 330px;
  border-bottom: 2px solid currentColor;

  .Select {
    width: auto;

    &-control {
      border: none;
      padding: 0;
      background-color: transparent;
      outline: inherit;
      color: inherit;
    }

    // these selectors are the worst
    &-value {
      padding: 0 !important;
      color: inherit !important;
      line-height: inherit !important;
    }

    &-value-label {
      color: inherit !important;
    }

    &-arrow {
      border-color: currentColor transparent transparent;
      top: initial;
      bottom: 8px;
      right: 0;
      border-width: 7px 7px 0;
    }

    &-option {
      @extend .h5;
    }
  }
}

.compare-title {
  margin-bottom: 16px;

  &__label,
  &__connector {
    display: inline-block;
  }

  &__budget {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .compare-title {
    line-height: 1.3;

    &__label,
    &__connector,
    &__budget {
      display: block;
    }

    &__connector {
      margin: 6px 0;
    }
  }

  .choose-budget {
    max-width: 100%;
  }
}

.compare-app {
  .nav.nav-pills > li > button[role='tab'] {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    background: transparent;
    padding: 10px 15px;
    text-align: left;
    color: $link-color;
  }

  .nav.nav-pills > li > button[role='tab']:hover,
  .nav.nav-pills > li > button[role='tab']:focus {
    text-decoration: none;
    background-color: $nav-link-hover-bg;
  }

  .nav.nav-pills > li.active > button[role='tab'],
  .nav.nav-pills > li.active > button[role='tab']:hover,
  .nav.nav-pills > li.active > button[role='tab']:focus {
    color: $nav-pills-active-link-hover-color;
    background-color: $nav-pills-active-link-hover-bg;
  }
}
