
style.
  #chart {
    height: 600px;
  }
  #hover_description{
    height: 26px;
  }
  .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
  }
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }
  .link:hover {
    stroke-opacity: .5;
  }
  #warning{
    color: red;
  }
.container
  .row
    .col-md-10
      div
        h4.subheader 2012-13 Adopted Revenues &amp; Spending
        p
          | Hover over the visual to see dollar amounts for funds and departments.

      //- SHARE BUTTON
      div
        a.a2a_dd(href='http://www.addtoany.com/share_save')
          img(src='http://static.addtoany.com/buttons/share_save_171_16.png', width='171', height='16', border='0', alt='Share')
        script(type='text/javascript', src='http://static.addtoany.com/menu/page.js')
      #sankey(data-legacy-sankey-url='/data/legacy/2012-13-sankey.json')
        p#chart
        h5
          | Source: City of Sacramento Budget Documents
          a(href='https://www.cityofsacramento.gov/finance/budget/documents')
            | https://www.cityofsacramento.gov/finance/budget/documents
        h5 Notes:
        p
          ol
            li
              em This is intended as an illustrative prototype; the data should be reviewed and validated for accuracy.
            li
              | All General Fund revenues and expenditures are shown, but only non-GF transfers exceeding $2 million (rough threshold) are currently shown.
            li
              | We've tried to exclude revenue sources that are purely accounting records (e.g., equipment and facilities rental charges) but this needs some review by a content area expert.
            li
              | Bond items are generally excluded because we had some trouble interpreting revenues vs. expenditures.

      #disqus_thread(data-disqus-identifier='2012-13 Sacramento Revenue and Expenditures Adopted Sankey')

//- Sankey JS
//- script(src='/js/d3.v2.min.js')
script(src='/js/old/sankey.js')
//- script(src='/js/jquery-1.8.3.min.js')
script(src='/js/old-sankey-page.js', charset='utf-8', defer)

//- DISQUS script
script(src='/js/disqus-loader.js', charset='utf-8', defer)
noscript
  | Please enable JavaScript to view the
  a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
