extends templates/tree-template.jade

block title 
  h1 Detailed Breakdown: 2013-15 Adopted Budget 

block disqus_config
  - var disqusIdentifier = '2013-2015-adopted-budget'

block datafiles
  -
    var treeConfig = {
      dropdownValues: {
        Year: ['FY13-14', 'FY14-15'],
        Account: ['Revenue', 'Expense'],
      },
      dropdownChoice: {
        Year: 'FY14-15',
        Account: 'Expense',
      },
      urlTemplate: 'data/tree/Adopted.{Account}.{Year}.json',
    }
