extends partials/layout

prepend pageTitle
  - var title = "Budget Comparison"

block bodyClass
  - var slug = "compare"

block content
  .container
    #root(role='region', aria-label='Budget comparison tool', data-i18n-aria-label='compare.toolAriaLabel')
  script(src="/js/dist/compare.bundle.js", defer)
