extends partials/layout

prepend pageTitle
  - var title = "Open Budget: Sacramento News"

block bodyClass
  - var slug = "news"

block content
  .container

    .row
      .col-md-9
        div
          h2.subheader News
          p
            a(href='https://www.cityofsacramento.org/Finance/Budget') City of Sacramento's Fiscal Year 2019-2021 Budget


          p
            | "In Sacramento, Calif., CODEFORSACRAMENTO, a civic-tech innovation brigade from Code for America, has a conversation feature that lets users ask questions and discuss every line item of the city budget."
            a(href='https://www.govtech.com/budget-finance/The-Disruption-Pipeline-Government-Citizen-Relationships.html') GovTech: "Developed a visualization tool called Open Budget to allow the public to explore the city budget."
          p
            a(href='https://www.kalw.org/post/volunteers-hack-technology-improve-sacramento-city-government') KALW: "Volunteers hack technology to improve the Sacramento city government."
          p          
            a(href='https://www.sacbee.com/news/politics-government/city-county/article272852963.html') Sacramento Bee: "Hacking Sacramento's Budget."
          p
            a(href='https://www.sacbee.com/news/politics-government/city-county/article272852963.html') Sacramento Bee: "Our Town, Our Budget: What Does Public Safety Really Look Like?"
          p
            a(href='http://techpresident.com/news/23749/sacramento-gets-new-data-visualization-site-its-budget') Tech President: "Sacramento Gets A New Data Visualization Site for Its Budget"
