extends partials/layout

prepend pageTitle
  - var title = "Tools and Projects"

block bodyClass
  - var slug = "resources"

block content
  .container

    .row
      .col-md-9
        div
          h2.subheader Tools and Projects
          p
            | Here are resources that have helped or inspired our work so far. Soon, we will relaunch this page as a wiki so people can more easily contribute. For now, 
            a(href='/contact') send us links to other resources
            | . As you explore the list below and see how others are making budgets more accessible, feel free to 
            a(href='/feedback') suggest features
            |  for Open Budget: Sacramento.
          h3.subheader
            | Budget Visualization Resources
          ul.disc
            li
              a(href='http://www.openspending.org', target='_blank') OpenSpending
            li
              a(href='http://d3js.org/', target='_blank') D3
            li
              a(href='http://www.peterkrantz.com/2012/data-visualization-tools/', target='_blank') Peter Krantz
            li
              a(href='http://vallandingham.me/vis/', target='_blank') Jim Vallandingham
          h3.subheader
            | Budget Data Resources
          ul.disc
            li
              a(href='https://github.com/openspending/handbook/blob/master/spending-data-handbook.pdf', target='_blank') Spending Data Handbook
            li
              a(href='https://www.openspending.org/about/fiscaldatapackage', target='_blank') The Fiscal Data Package
            li
              a(href='https://data.cityofsacramento.org', target='_blank') Sacramento Open Data
          h3.subheader
            | Budget Visualization Examples
          h4.subheader Cities
          ul.disc
            li
              a(href='http://www.checkbooknyc.com/', target='_blank') Checkbook NYC (New York City, New York, United States)
            li
              a(href='https://paloalto.opengov.com/transparency', target='_blank') City of Palo Alto's Financial Reporting Platform (Palo Alto, California, United States)
            li
              a(href='https://data.honolulu.gov/browse?category=Finance&utf8=%E2%9C%93&sortBy=last_modified&pageSize=100&tags=budget', target='_blank') HNL Open Data (Honolulu, Hawaii, United States)
            li
              a(href='https://daten.berlin.de/datensaetze?q=haushalt&sort=date_updated+desc', target='_blank') Berlin Open Data (Berlin, Berlin, Germany)
            li
              a(href='https://opendataphilly.org/datasets/city-operating-budget/', target='_blank') OpenDataPhilly (Philadelphia, Pennsylvania, United States)
            li
              a(href='https://www.longbeach.gov/finance/city-budget-and-finances/budget/budget-information/', target='_blank') Long Beach Open Data Portal (Long Beach, California, United States)
          h4.subheader Counties (United States Only)
          ul.disc
            li
              a(href='https://datacatalog.cookcountyil.gov/browse?category=Finance+%26+Operations&sortBy=newest&pageSize=20', target='_blank') Cook County Open Data (Cook County, Illinois, United States)
          h4.subheader States (United States Only)
          ul.disc
            li
              a(href='http://www.budgetchallenge.org/', target='_blank') Budget Challenge (California, United States)
            li
              a(href='https://massbudget.org/budget-browser/', target='_blank') Budget Browser (Massachusetts, United States)
            li
              a(href='https://ofm.wa.gov/budget/', target='_blank') Our State Budget - (Washington, United States)
          h4.subheader International (Countries/Regions)
          ul.disc
            li
              a(href='https://fiscaldata.treasury.gov/americas-finance-guide/federal-spending/', target='_blank') How much has the U.S. government spent this year? (United States)
              li
                a(href='https://wheredoesitallgo.org/', target='_blank') Where Does It All Go? (United Kingdom)
              li
                a(href='https://www.government.se/government-of-sweden/ministry-of-finance/central-government-budget/', target='_blank') Central Government Budget (Sweden)
              li
                a(href='https://offenerhaushalt.de/haushalt/bund/#/einzelplane?date=2017&einnahmen-ausgaben=Ausgaben', target='_blank') Federal Budget (Germany)
              li
                a(href='https://cameroon.openspending.org/fr/pib.html#/~/total', target='_blank') National Budget Investment (Cameroon)
              li
                a(href='http://slovakia.openspending.org', target='_blank') Municipal Budgets (Slovakia)
              li
                a(href='http://www.budgetstories.md', target='_blank') Budget Stories (Moldova)
