extends partials/layout

prepend pageTitle
  - var title = "Who We Are"

block bodyClass
  - var slug = "about"

block content
  .container
    .row
      .col-md-9
        div
          h2.subheader Who we are
          p
          | Open Budget: Sacramento is the result of many contributors including coders, community advocates, and city officials. 
          | We're looking for ideas and help, so get in touch and stop by our  
          a(href='https://www.meetup.com/code4sac/') bi-weekly virtual meetup 
          | the first and third Wednesdays of the month from 6:30–8:30pm as part of 
          a(href='http://codeforsacramento.org/') Open Sacramento 
          | Community Action Night (
          a(href='/contact') contact us 
          | ahead of time so we are sure to be available).
          h4.subheader Contributors:
          .auto-columns
            ul.list-unstyled
              li Donald Brower
              li Ash Roughani
              li Mark A. Matney, Jr.
              li Dan Fey
            ul.list-unstyled
              li John Loper
              li Joel Riphagen
              li Nate Bass
              li Ismail Ahmed
            ul.list-unstyled
              li Gavin Deschutter
              li Richard Prasad
              li l84tahoe

          blockquote 
            em Open Budget: Sacramento uses code originally created by OpenOakland. Thanks OpenOakland for all your hard work!
            
          h2.subheader Who they are
          p
          a(href='https://openbudgetsac.org') Open Budget: Sacramento 
          | is the result of many contributors including coders, community advocates, and city officials. 
          h4.subheader Current team:
          ul.list-unstyled
            li Beti G.
            li Cindy Terdiman
            li Emily Peri
            li Felicia Betancourt
            li Karen Ivy
            li Meredith Burkle
            li Sean Martinez
          // h4.subheader City partners:
          // ul.list-unstyled
            li Bradley Johnson, Assistant to the City Administrator, City of Sacramento
            li Mai-Ling Garcia, Online Communications Manager, City of Sacramento
          h4.subheader Contributors:
          .auto-columns
            ul.list-unstyled
              li Adam Stiles
              li Amanda Richardson
              li Andrea Moed
              li Ben Wen
              li Bob Sarnoff
              li Dave Guarino
              li David Ordal
              li Deborah Acosta
              li Diana Wu
              li Elina Rubuliak
              li Ian MacFarland
            ul.list-unstyled
              li Ian McEachern
              li Ikka Lynn
              li Jeff French
              li Jehan Tremback
              li Jon Katz
              li Max Ogden
              li Mike Ubell
              li Mohamed Gulaid
              li Nic Aulston
              li Nick Brooks
              li Phil Popp
            ul.list-unstyled
              li Phil Wolff
              li Rachel Li
              li Shawn McDougal
              li Sonya Rifkin
              li Steve Berley
              li Steve Spiker
              li Tom Dooner
              li Tom Fite
              li Yumiko Abe-Jones
              li Ismail Ahmed
          ul.list-unstyled
            li And the rest of the original 
              a(
                href='https://codeforsacramento.org/', target='_blank'
              ) Code for Sacramento
              |  crew.
